<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLName</key>
                <string>dev.zoo.app</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>zoo-modeling-app</string>
                    <string>zoo</string>
                </array>
            </dict>
        </array>
        <key>UTExportedTypeDeclarations</key>
        <array>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>dev.zoo.app-kcl</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.plain-text</string>
                </array>
                <key>UTTypeDescription</key>
                <string>KCL Code</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>kcl</string>
                    </array>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
