.panel {
  @apply relative z-0 max-w-full flex-auto;
  display: grid;
  grid-template-rows: auto 1fr;
  @apply bg-chalkboard-10 border-chalkboard-30;
  scroll-margin-block-start: 41px;
}

.panel:not(:first-child) {
  @apply border-t;
}

.header::before,
.header::-webkit-details-marker {
  display: none;
}

:global(.dark) .panel {
  @apply bg-chalkboard-100 border-chalkboard-80;
}

.header {
  @apply z-10 relative;
  @apply flex items-center justify-between gap-2 py-1 px-2;
  @apply text-xs select-none text-chalkboard-90;
  @apply bg-chalkboard-10 border-b border-chalkboard-30;
}

:global(.dark) .header {
  @apply bg-chalkboard-90 text-chalkboard-30 border-chalkboard-80;
}
