* @KittyCAD/frontend
/docs/ @KittyCAD/kcl
/src/ @KittyCAD/frontend
/rust/ @KittyCAD/kcl

# Replace with @kittycad/meche once available, see https://github.com/KittyCAD/configs/issues/272
/e2e/playwright/benchmark/ @nicboone8 @max-mrgrsk
