*                                 @KittyCAD/frontend

# ZDS
/src/                             @KittyCAD/frontend

# KCL
/rust/                            @KittyCAD/kcl

# ZDS-KCL bridge
/rust/**/frontend.rs              @KittyCAD/frontend
/rust/**/frontend/                @KittyCAD/frontend

# Documentation
/docs/                            @KittyCAD/frontend @KittyCAD/kcl
/public/kcl-samples/              @KittyCAD/frontend @KittyCAD/kcl

# Tests
/e2e/playwright/benchmark/        @KittyCAD/mech
