# Load optional shared environment variables
source_up_if_exists

# Load default development environment variables
dotenv .env.development

# Load optional environment variables overrides
dotenv_if_exists .env.development.local

# Enable nix development environment if installed
if has nix; then
    use flake .
fi
