# Load optional shared environment variables
source_up_if_exists

# Load default development environment variables
dotenv .env.development

# Load optional environment variables overrides
dotenv_if_exists .env.development.local

# Load optional testing environment variables
dotenv_if_exists e2e/playwright/playwright-secrets.env

use flake .
