{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "plugins": [
      "css-modules"
    ],
    "extends": [
      "react-app",
      "react-app/jest",
      "plugin:css-modules/recommended"
    ],
    "rules": {
      "semi": [
        "error",
        "never"
      ],
      "react-hooks/exhaustive-deps": "off",
      "@typescript-eslint/no-floating-promises": "warn"
    },
    "overrides": [
      {
        "files": ["e2e/**/*.ts"], // Update the pattern based on your file structure
        "rules": {
          "testing-library/prefer-screen-queries": "off"
        }
      }
    ]
}
