{
    "plugins": [
      "css-modules"
    ],
    "extends": [
      "react-app",
      "react-app/jest",
      "plugin:css-modules/recommended"
    ],
    "rules": {
      "semi": [
        "error",
        "never"
      ]
    }
}
