{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "plugins": [
      "react-perf",
      "css-modules",
      "jest",
      "jsx-a11y",
      "react",
      "react-hooks",
      "suggest-no-throw",
      "testing-library",
      "@typescript-eslint"
    ],
    "extends": [
      "plugin:css-modules/recommended",
      "plugin:jsx-a11y/recommended",
      "plugin:react-hooks/recommended"
    ],
    "rules": {
      "@typescript-eslint/no-array-constructor": "error",
      "@typescript-eslint/no-array-delete": "error",
      "@typescript-eslint/no-duplicate-enum-values": "error",
      "@typescript-eslint/no-duplicate-type-constituents": "error",
      "@typescript-eslint/no-empty-object-type": "error",
      "@typescript-eslint/no-floating-promises": "error",
      "@typescript-eslint/no-implied-eval": "error",
      "@typescript-eslint/no-misused-promises": "error",
      "@typescript-eslint/no-namespace": "error",
      "@typescript-eslint/no-unnecessary-type-constraint": "error",
      "@typescript-eslint/no-unused-vars": ["error", {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true,
        "vars": "all",
        "args": "none"
      }],
      "@typescript-eslint/prefer-as-const": "warn",
      "jsx-a11y/click-events-have-key-events": "off",
      "jsx-a11y/no-autofocus": "off",
      "jsx-a11y/no-noninteractive-element-interactions": "off",
      "no-implied-eval": "off", // This is wrong; use the @typescript-eslint one instead.
      "no-restricted-globals": [
        "error",
        {
          "name": "isNaN",
          "message": "Use Number.isNaN() instead."
        },
      ],
      "no-restricted-syntax": [
        "error",
        {
          "selector": "CallExpression[callee.object.name='Array'][callee.property.name='isArray']",
          "message": "Use isArray() in lib/utils.ts instead of Array.isArray()."
        }
      ],
      "semi": [
        "error",
        "never"
      ],
      "react-hooks/exhaustive-deps": "off",
      "suggest-no-throw/suggest-no-throw": "warn",
    },
    "overrides": [
      {
        "files": ["e2e/**/*.ts"], // Update the pattern based on your file structure
        "extends": [
          "plugin:testing-library/react"
        ],
        "rules": {
          "suggest-no-throw/suggest-no-throw": "off",
          "testing-library/prefer-screen-queries": "off",
          "jest/valid-expect": "off"
        }
      },
      {
        "files": ["src/**/*.test.ts"],
        "extends": [
          "plugin:testing-library/react"
        ],
        "rules": {
          "suggest-no-throw/suggest-no-throw": "off",
        }
      }
    ]
}
