<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>LSItemContentTypes</key>
                <array>
                    <string>dev.zoo.kcl</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>KCL</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>LSHandlerRank</key>
                <string>Owner</string>
            </dict>
            <dict>
                <key>LSItemContentTypes</key>
                <array>
                    <string>dev.zoo.toml</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>TOML</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>LSHandlerRank</key>
                <string>Default</string>
            </dict>
            <dict>
                <key>LSItemContentTypes</key>
                <array>
                    <string>dev.zoo.gltf</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>glTF</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>LSHandlerRank</key>
                <string>Default</string>
            </dict>
            <dict>
                <key>LSItemContentTypes</key>
                <array>
                    <string>dev.zoo.glb</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>glb</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>LSHandlerRank</key>
                <string>Default</string>
            </dict>
            <dict>
                <key>LSItemContentTypes</key>
                <array>
                    <string>dev.zoo.step</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>STEP</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>LSHandlerRank</key>
                <string>Default</string>
            </dict>
            <dict>
                <key>LSItemContentTypes</key>
                <array>
                    <string>dev.zoo.fbx</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>FBX</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>LSHandlerRank</key>
                <string>Default</string>
            </dict>
            <dict>
                <key>LSItemContentTypes</key>
                <array>
                    <string>dev.zoo.sldprt</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>Solidworks Part</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>LSHandlerRank</key>
                <string>Default</string>
            </dict>
            <dict>
                <key>LSItemContentTypes</key>
                <array>
                    <string>public.geometry-definition-format</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>OBJ</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>LSHandlerRank</key>
                <string>Default</string>
            </dict>
            <dict>
                <key>LSItemContentTypes</key>
                <array>
                    <string>public.polygon-file-format</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>PLY</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>LSHandlerRank</key>
                <string>Default</string>
            </dict>
            <dict>
                <key>LSItemContentTypes</key>
                <array>
                    <string>public.standard-tesselated-geometry-format</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>STL</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSTypeIsPackage</key>
                <false/>
                <key>LSHandlerRank</key>
                <string>Default</string>
            </dict>
            <dict>
                <key>LSItemContentTypes</key>
                <array>
                    <string>public.folder</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>Folders</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>LSHandlerRank</key>
                <string>Alternate</string>
            </dict>
        </array>
        <key>UTExportedTypeDeclarations</key>
        <array>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>dev.zoo.kcl</string>
                <key>UTTypeReferenceURL</key>
                <string>https://zoo.dev/docs/kcl</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.source-code</string>
                    <string>public.data</string>
                    <string>public.text</string>
                    <string>public.plain-text</string>
                    <string>public.3d-content</string>
                    <string>public.script</string>
                </array>
                <key>UTTypeDescription</key>
                <string>KCL (KittyCAD Language) document</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>kcl</string>
                    </array>
                    <key>public.mime-type</key>
                    <array>
                        <string>text/vnd.zoo.kcl</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>dev.zoo.gltf</string>
                <key>UTTypeReferenceURL</key>
                <string>https://registry.khronos.org/glTF/specs/2.0/glTF-2.0.html</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                    <string>public.text</string>
                    <string>public.plain-text</string>
                    <string>public.3d-content</string>
                    <string>public.json</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Graphics Library Transmission Format (glTF)</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>gltf</string>
                    </array>
                    <key>public.mime-type</key>
                    <array>
                        <string>model/gltf+json</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>dev.zoo.glb</string>
                <key>UTTypeReferenceURL</key>
                <string>https://registry.khronos.org/glTF/specs/2.0/glTF-2.0.html</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                    <string>public.3d-content</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Graphics Library Transmission Format (glTF) binary</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>glb</string>
                    </array>
                    <key>public.mime-type</key>
                    <array>
                        <string>model/gltf-binary</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>dev.zoo.step</string>
                <key>UTTypeReferenceURL</key>
                <string>https://www.loc.gov/preservation/digital/formats/fdd/fdd000448.shtml</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                    <string>public.3d-content</string>
                    <string>public.text</string>
                    <string>public.plain-text</string>
                </array>
                <key>UTTypeDescription</key>
                <string>STEP-file, ISO 10303-21</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>step</string>
                        <string>stp</string>
                    </array>
                    <key>public.mime-type</key>
                    <array>
                        <string>model/step</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>dev.zoo.sldprt</string>
                <key>UTTypeReferenceURL</key>
                <string>https://docs.fileformat.com/cad/sldprt/</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                    <string>public.3d-content</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Solidworks Part</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>sldprt</string>
                    </array>
                    <key>public.mime-type</key>
                    <array>
                        <string>model/vnd.solidworks.sldprt</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>dev.zoo.fbx</string>
                <key>UTTypeReferenceURL</key>
                <string>https://en.wikipedia.org/wiki/FBX</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                    <string>public.3d-content</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Autodesk Filmbox (FBX) format</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>fbx</string>
                        <string>fbxb</string>
                    </array>
                    <key>public.mime-type</key>
                    <array>
                        <string>model/vnd.autodesk.fbx</string>
                    </array>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>dev.zoo.toml</string>
                <key>UTTypeReferenceURL</key>
                <string>https://toml.io/en/</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                    <string>public.text</string>
                    <string>public.plain-text</string>
                </array>
                <key>UTTypeDescription</key>
                <string>Tom's Obvious Minimal Language</string>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>kcl</string>
                    </array>
                    <key>public.mime-type</key>
                    <array>
                        <string>text/toml</string>
                    </array>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
