.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.25rem;
  align-items: stretch;
  position: relative;
  padding-block: 1px;
  max-width: 100%;
  flex: 1 1 0;
}
