# experimental = ["setup-scripts"]

# [script.test-server]
# command = "just start-test-server"

# Each test can have at most 4 threads, but if its name contains "serial_test_", then it
# also requires 4 threads.
# This means such tests run one at a time, with 4 threads.

[test-groups]
serial-integration = { max-threads = 4 }

[profile.default]
slow-timeout = { period = "30s", terminate-after = 1 }

[profile.ci]
slow-timeout = { period = "50s", terminate-after = 5 }

[[profile.default.overrides]]
filter = "test(serial_test_)"
test-group = "serial-integration"
threads-required = 4

# [[profile.default.scripts]]
# filter = 'test(serial_test_)'
# setup = 'test-server'

[[profile.ci.overrides]]
filter = "test(serial_test_)"
test-group = "serial-integration"
threads-required = 4

# [[profile.default.scripts]]
# filter = 'test(serial_test_)'
# setup = 'test-server'

[[profile.default.overrides]]
filter = "test(parser::parser_impl::snapshot_tests)"
slow-timeout = { period = "1s", terminate-after = 5 }
