[package]
name = "kcl-lib"
description = "KittyCAD Language implementation and tools"
version = "0.1.40"
edition = "2021"
license = "MIT"
repository = "https://github.com/KittyCAD/modeling-app"
rust-version = "1.73"
authors = ["Jess Frazelle", "Adam Chalmers", "KittyCAD, Inc"]
keywords = ["kcl", "KittyCAD", "CAD"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = { version = "1.0.79", features = ["backtrace"] }
async-recursion = "1.0.5"
async-trait = "0.1.77"
chrono = "0.4.34"
clap = { version = "4.5.0", features = ["cargo", "derive", "env", "unicode"], optional = true }
dashmap = "5.5.3"
databake = { version = "0.1.7", features = ["derive"] }
#derive-docs = { version = "0.1.6" }
derive-docs = { path = "../derive-docs" }
eventsource-stream = "0.2.3"
futures = { version = "0.3.30" }
gltf-json = "1.4.0"
kittycad = { workspace = true }
kittycad-execution-plan-macros = { workspace = true }
kittycad-execution-plan-traits = { workspace = true }
lazy_static = "1.4.0"
parse-display = "0.9.0"
reqwest = { version = "0.11.24", default-features = false, features = ["stream", "rustls-tls"] }
ropey = "1.6.1"
schemars = { version = "0.8.16", features = ["impl_json_schema", "url", "uuid1"] }
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
thiserror = "1.0.57"
ts-rs = { version = "7.1.1", features = ["uuid-impl"] }
uuid = { version = "1.7.0", features = ["v4", "js", "serde"] }
winnow = "0.5.40"

[target.'cfg(target_arch = "wasm32")'.dependencies]
js-sys = { version = "0.3.68" }
tokio = { version = "1.36.0", default-features = false, features = ["time"] }
tower-lsp = { version = "0.20.0", default-features = false, features = ["runtime-agnostic"] }
wasm-bindgen = "0.2.91"
wasm-bindgen-futures = "0.4.41"
web-sys = { version = "0.3.68", features = ["console"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
approx = "0.5"
bson = { version = "2.9.0", features = ["uuid-1", "chrono"] }
tokio = { version = "1.36.0", features = ["full"] }
tokio-tungstenite = { version = "0.21.0", features = ["rustls-tls-native-roots"] }
tower-lsp = { version = "0.20.0", features = ["proposed"] }

[features]
default = ["engine"]
cli = ["dep:clap"]
engine = []

[profile.release]
panic = "abort"
debug = true

[profile.bench]
debug = true # Flamegraphs of benchmarks require accurate debug symbols

[dev-dependencies]
criterion = "0.5.1"
expectorate = "1.1.0"
insta = { version = "1.34.0", features = ["json"] }
itertools = "0.12.1"
pretty_assertions = "1.4.0"
tokio = { version = "1.36.0", features = ["rt-multi-thread", "macros", "time"] }

[[bench]]
name = "compiler_benchmark"
harness = false
