[package]
name = "wasm-lib"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.75"
async-mutex = { version = "1.4.0", optional = true }
backtrace = "0.3"
bincode = "1.3.3"
futures = { version = "0.3.28", optional = true }
gloo-file = { version = "0.3.0", optional = true }
gloo-utils = "0.2.0"
http = "0.2.9"
httparse = { version = "1.8.0", optional = true }
js-sys = { version = "0.3.64", optional = true }
kittycad = { version = "0.2.15", default-features = false, features = ["js"] }
lazy_static = "1.4.0"
regex = "1.7.1"
serde = {version = "1.0.152", features = ["derive"] }
serde_json = "1.0.93"
thiserror = "1.0.47"
tokio = { version = "1.32.0", features = ["full"], optional = true }
tokio-tungstenite = { version = "0.20.0", optional = true }
ts-rs = { git = "https://github.com/kittycad/ts-rs.git", branch = "serde_json", features = ["serde-json-impl", "uuid-impl"] }
uuid = { version = "1.4.1", features = ["v4", "js", "serde"] }
wasm-bindgen = "0.2.87"
wasm-bindgen-futures = "0.4.37"
webrtc = { version = "0.8.0", optional = true }

[dependencies.web-sys]
version = "0.3.64"
features = [
  "BinaryType",
  "Blob",
  "CloseEvent",
  "ErrorEvent",
  "FileReader",
  "MessageEvent",
  "ProgressEvent",
  "RtcConfiguration",
  "RtcIceServer",
  "RtcIceTransportPolicy",
  "RtcPeerConnection",
  "RtcSignalingState",
  "RtcSdpType",
  "RtcSessionDescriptionInit",
  "RtcPeerConnectionIceEvent",
  "RtcIceCandidate",
  "RtcDataChannel",
  "RtcDataChannelEvent",
  "RtcRtpTransceiver",
  "WebSocket",
]
optional = true

[profile.release]
panic = "abort"
debug = true

[dev-dependencies]
pretty_assertions = "1.4.0"
tokio = { version = "1.32.0", features = ["rt-multi-thread", "macros", "time"] }

[features]
default = ["web"]
web = ["dep:gloo-file", "dep:js-sys", "dep:web-sys"]
noweb = ["dep:async-mutex", "dep:futures", "dep:httparse", "dep:tokio", "dep:tokio-tungstenite", "dep:webrtc"]
