[package]
name = "wasm-lib"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib"]

[dependencies]
backtrace = "0.3"
bincode = "1.3.3"
console_error_panic_hook = "0.1.7"
lazy_static = "1.4.0"
regex = "1.7.1"
serde = {version = "1.0.152", features = ["derive"] }
serde-wasm-bindgen = "0.3.1"
serde_json = "1.0.93"
wasm-bindgen = "0.2.78"

[profile.release]
panic = "abort"
debug = true
