[package]
name = "wasm-lib"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib"]

[dependencies]
anyhow = "1.0.75"
backtrace = "0.3"
bincode = "1.3.3"
gloo-utils = "0.2.0"
kittycad = "0.2.15"
lazy_static = "1.4.0"
regex = "1.7.1"
serde = {version = "1.0.152", features = ["derive"] }
serde-wasm-bindgen = "0.3.0"
serde_json = "1.0.93"
thiserror = "1.0.47"
wasm-bindgen = "0.2.87"

[profile.release]
panic = "abort"
debug = true

[dev-dependencies]
pretty_assertions = "1.4.0"
