.editor {
  @apply text-base flex-1 overflow-auto;
  scrollbar-width: thin;
}

.editor :global(.cm-editor) {
  @apply bg-transparent;
}

.editor :global(.cm-line)::selection {
  @apply px-1;
  @apply text-chalkboard-100;
  @apply bg-primary/40;
}
:global(.dark) .editor :global(.cm-line)::selection {
  @apply text-chalkboard-10;
  @apply bg-primary/40;
}
