@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../node_modules/allotment/dist/style.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#code-mirror-override .cm-focused .cm-cursor {
  border-left: 1.2px solid black;
}
#code-mirror-override .cm-cursor {
  display: block;
  border-left: 5px solid #0084e2;
}
