.toolbarWrapper {
  @apply relative;
}

.toolbar {
  @apply flex gap-4 items-center rounded-full;
  @apply border border-cool-20/30 bg-cool-10/50;
}

:global(.dark) .toolbar {
  @apply border-cool-100/50 bg-cool-120/50;
}

:global(.sketch) .toolbar {
  @apply border-fern-20/20 bg-fern-10/20;
}

:global(.dark .sketch) .toolbar {
  @apply border-fern-120/50 bg-fern-100/30;
}

.toolbarCap {
  @apply text-sm font-bold;
  @apply bg-cool-20/50 text-cool-100;
}

:global(.dark) .toolbarCap {
  @apply bg-cool-90/50 text-cool-30;
}

:global(.sketch) .toolbarCap {
  @apply bg-fern-20/50 text-fern-100;
}

:global(.dark .sketch) .toolbarCap {
  @apply bg-fern-90/50 text-fern-30;
}

.label {
  @apply self-stretch flex items-center px-4 py-1;
  @apply rounded-l-full;
}

.popoverToggle {
  @apply self-stretch m-0 flex items-center px-4 py-1;
  @apply rounded-r-full border-none;
  @apply hover:bg-cool-20;
}

.toolbarButtons::-webkit-scrollbar {
  @apply h-0.5;
}

.toolbarButtons {
  @apply flex items-center overflow-x-auto;
  scrollbar-width: thin;
}

.toolbarButtons button {
  @apply text-chalkboard-90 bg-chalkboard-10/50 border-chalkboard-50 whitespace-nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @apply gap-1.5 p-0.5 pr-1;
  @apply rounded-sm;
}
:global(.dark) .toolbarButtons button {
  @apply text-chalkboard-30 bg-chalkboard-90/50 border-chalkboard-50;
}
.toolbarButtons button:hover {
  @apply text-cool-90 bg-cool-10;
}
:global(.sketch) .toolbarButtons button:hover {
  @apply text-fern-90 bg-fern-10;
}
.toolbarButtons button:disabled {
  @apply text-chalkboard-70 bg-chalkboard-30;
}
.toolbarButtons button:disabled:hover {
  @apply !bg-inherit !text-inherit cursor-not-allowed;
}

:global(.dark) .toolbarButtons button {
  @apply text-chalkboard-20 border-chalkboard-50;
}
:global(.dark) .toolbarButtons button:hover {
  @apply text-cool-10 border-chalkboard-50 bg-cool-90;
}
:global(.dark .sketch) .toolbarButtons button:hover {
  @apply text-fern-10 border-chalkboard-50 bg-fern-90;
}
:global(.dark) .toolbarButtons button:disabled {
  @apply text-chalkboard-40 bg-chalkboard-80;
}

:global(.dark) .popoverToggle {
  @apply hover:bg-cool-90;
}

:global(.sketch) .popoverToggle {
  @apply hover:bg-fern-20;
}

:global(.dark .sketch) .popoverToggle {
  @apply hover:bg-fern-90;
}
