.button {
  @apply flex justify-between items-center gap-2 px-2 py-1 text-left border-none rounded-sm;
  @apply font-mono !no-underline text-xs font-bold select-none text-chalkboard-90;
  @apply ui-active:bg-primary/10 ui-active:text-primary ui-active:text-inherit;
  @apply transition-colors ease-out;
  @apply m-0;
}

:global(.dark) .button {
  @apply !text-chalkboard-30;
  @apply ui-active:bg-chalkboard-90;
}

.button small {
  @apply text-chalkboard-60;
}

:global(.dark) .button small {
  @apply text-chalkboard-40;
}
