name: Build WASM

on:
  workflow_call:
    secrets:
      TAB_API_KEY:
        required: false

permissions:
  contents: read

jobs:
  npm-build-wasm:
    runs-on: namespace-profile-ubuntu-8-cores
    steps:
      - uses: actions/checkout@v6

      - name: Track setup
        run: .github/ci-cd-scripts/track-step.sh
        env:
          TAB_API_URL: ${{ vars.TAB_API_URL }}
          TAB_API_KEY: ${{ secrets.TAB_API_KEY }}
          CI_COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
          CI_PR_NUMBER: ${{ github.event.pull_request.number }}
          CI_SUITE: integration
          CI_STEP: setup

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Use correct Rust toolchain
        shell: bash
        run: |
          [ -e rust-toolchain.toml ] || cp rust/rust-toolchain.toml ./

      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: false # configured below
          rustflags: '' # Use .cargo/config.toml

      - uses: taiki-e/install-action@493d7f216ecab2af0602481ce809ab2c72836fa1
        with:
          tool: wasm-pack

      - name: Use Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: './rust'

      - name: Build Wasm
        shell: bash
        run: npm run build:wasm

      - uses: actions/upload-artifact@v6
        with:
          name: prepared-wasm
          path: |
            rust/kcl-wasm-lib/pkg/kcl_wasm_lib*

      - uses: actions/upload-artifact@v6
        with:
          name: prepared-ts-rs-bindings
          path: |
            rust/kcl-lib/bindings/*
