name: Build WASM

on:
  workflow_call:
  push:
    branches:
      - pierremtb/adhoc/rust-building-on-windows

permissions:
  contents: read

jobs:
  npm-build-wasm:
    strategy:
      matrix:
        include:
          - os: namespace-profile-ubuntu-8-cores
            name: linux
          - os: namespace-profile-windows-4-cores
            name: windows
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Use correct Rust toolchain
        shell: bash
        run: |
          [ -e rust-toolchain.toml ] || cp rust/rust-toolchain.toml ./

      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: false # configured below

      - uses: taiki-e/install-action@c5b1b6f479c32f356cc6f4ba672a47f63853b13b
        with:
          tool: wasm-pack

      - name: Use Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: './rust'

      - name: Build Wasm
        shell: bash
        run: npm run build:wasm${{ matrix.name == 'windows' && ':windows' || '' }}

      - uses: actions/upload-artifact@v4
        with:
          name: prepared-wasm-${{ matrix.name }}
          path: |
            rust/kcl-wasm-lib/pkg/kcl_wasm_lib*

      - uses: actions/upload-artifact@v4
        with:
          name: prepared-ts-rs-bindings-${{ matrix.name }}
          path: |
            rust/kcl-lib/bindings/*
