on:
  push:
    branches:
      - main
  pull_request:
permissions:
  packages: read
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
name: cargo deny
jobs:
  cargo-deny:
    name: cargo deny
    runs-on: namespace-profile-ubuntu-2-cores
    steps:
      - uses: actions/checkout@v6
      - name: Use correct Rust toolchain
        shell: bash
        run: |
          [ -e rust-toolchain.toml ] || cp rust/rust-toolchain.toml ./
      - name: Install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: false # Configured below.
          rustflags: '' # Use .cargo/config.toml

      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          manifest-path: rust/Cargo.toml
          command: check
          arguments: --all-features
          command-arguments:  --config rust/deny.toml advisories -D yanked
