name: generate machine-api types

on:
  pull_request:
    paths:
      - 'openapi/machine-api.json'
      - '.github/workflows/generate-machine-api-types.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true


permissions:
  contents: write
jobs:
  generate:
    runs-on: namespace-profile-ubuntu-2-cores
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm install
      - run: npm run generate:machine-api
      - run: npm run fmt || true
      - name: Commit generated files
        uses: KittyCAD/gha-actions-public/pr-commit@main
        with:
          app-id: ${{ secrets.MODELING_APP_GH_APP_ID }}
          private-key: ${{ secrets.MODELING_APP_GH_APP_PRIVATE_KEY }}
          commit-message: "New machine-api types"

