on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/generate-website-docs.yml
      - 'docs/**'
      - 'public/kcl-samples/**'
  pull_request:
    paths:
      - .github/workflows/generate-website-docs.yml
  workflow_dispatch:
name: generate-website-docs
concurrency:
  group: docs-${{ github.ref }}
  cancel-in-progress: true
jobs:
  generate-website-docs:
    name: generate-website-docs
    runs-on: namespace-profile-ubuntu-2-cores
    steps:
      - uses: actions/checkout@v6
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          # required
          app-id: ${{ secrets.MODELING_APP_GH_APP_ID }}
          private-key: ${{ secrets.MODELING_APP_GH_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      # Checkout the docs repo since we will want to update the files there.
      - uses: actions/checkout@v6
        with:
          repository: 'kittycad/documentation'
          path: 'documentation'
          token: ${{ steps.app-token.outputs.token }}
      - name: Update docs
        shell: bash
        run: |
          mkdir -p documentation/content/pages/docs/kcl/
          # cleanup old
          rm -rf documentation/content/pages/docs/kcl-std
          rm -rf documentation/content/pages/docs/kcl-lang
          rm -rf documentation/content/kcl-test-outputs
          # move new
          mv -f docs/kcl-std documentation/content/pages/docs
          mv -f docs/kcl-lang documentation/content/pages/docs
          mv -f rust/kcl-lib/tests/outputs documentation/content/kcl-test-outputs
          # We don't need the README
          rm documentation/content/pages/docs/kcl-std/README.md
      - name: Update samples
        shell: bash
        run: |
          mkdir -p documentation/content/pages/docs/kcl-samples
          # cleanup old
          rm -rf documentation/content/pages/docs/kcl-samples/*
          # move new
          mv -f public/kcl-samples/* documentation/content/pages/docs/kcl-samples/
      - name: Commit changes
        shell: bash
        run: |
          cd documentation
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit --all --message "Update KCL docs" || exit 0
          git fetch origin
          git rebase origin/main
          export NEW_BRANCH="update-kcl-docs"
          git switch --create "$NEW_BRANCH"
          git push --force origin "$NEW_BRANCH"
          gh pr create --title "Update KCL docs" \
              --body "Applies the latest changes from: ${{ github.server_url }}/${{ github.repository }} cc @KittyCAD/kcl" \
              --head "$NEW_BRANCH" \
              --base main
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

