# on pull requests, setup node, run `yarn install` and `yarn test:nowatch`

name: Test

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - run: yarn install
      - run: yarn build:wasm
      # - run: yarn simpleserver:ci
      - run: yarn test:nowatch
      # - run: yarn test:cov
