# on pull requests, setup node, run `yarn install` and `yarn test:nowatch`

name: Test

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - run: yarn install
      - run: yarn tsc
      - run: yarn build:wasm
      - run: yarn simpleserver:ci
      - run: yarn test:nowatch
      - run: yarn test:cov
      - run: yarn test:rust
