name: Auto-update PyO3 stubs
on:
  pull_request:
    branches: [main] # PRs _into_ main
    paths:
      - "rust/kcl-python-bindings/**" # run only when Rust/Python code changes
      - ".github/workflows/update-python-stubs.yml"
permissions:
  contents: write # allow committing back to the PR branch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  build-and-stub:
    runs-on: namespace-profile-ubuntu-2-cores
    defaults:
      run:
        shell: bash -eux {0}
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install toolchain + maturin
        uses: PyO3/maturin-action@v1 # Rust + Python + maturin
        with:
          working-directory: rust/kcl-python-bindings
      - uses: taiki-e/install-action@just
      - name: Generate stubs
        run: |
          cd rust
          just python-stubs
      - name: Commit generated files
        uses: KittyCAD/gha-actions-public/pr-commit@main
        with:
            app-id: ${{ secrets.MODELING_APP_GH_APP_ID }}
            private-key: ${{ secrets.MODELING_APP_GH_APP_PRIVATE_KEY }}
            commit-message: 'chore(stubs): auto-update PyO3 .pyi'
